<div class="content">
    <div class="breadcrumb-wrapper">
        <h1>全自动检测</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb p-0">
                <li class="breadcrumb-item">
                    <a href="/">
                        <span class="mdi mdi-home"></span>
                    </a>
                </li>
                <li class="breadcrumb-item">
                    XSS检测
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    全自动检测
                </li>
            </ol>
        </nav>
    </div>

    <div class="row">
        <div class="col-xl-8">
            <div class="card card-default">
                <div class="card-header card-header-border-bottom">
                    <h2 class="text-primary"><i class="mdi mdi-play-box-outline"></i>视频讲解</h2>
                </div>
                <div class="card-body" style="height: 100%;">
                    <video src="myStatic/video/3-2.mp4" style="width: 100%;" controls />
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card card-default">
                        <div class="card-header card-header-border-bottom">
                            <h2>全自动检测XSS的工具</h2>
                        </div>
                        <div class="card-body">
                            <p class="text-dark mb-1">
                                像许多大型漏洞扫描工具如：<strong style="color:rebeccapurple">APPSCAN、AWVS</strong>等软件,都可以有效地检测XSS漏洞，但这类大型漏洞扫描工具除检测XSS外,还会检测SQL注射、文件包含、应用程序错误等漏洞。
                            </p>
                            <p class="text-dark mb-1">
                                除了全自动的漏洞扫描工具,作为辅助的工具也有很多,像有名的XSSER、XSSF、Burp
                                Suite都是不错的选择。还有著名的清华大学安全团队——蓝莲花战队开发的蓝莲花XSS平台质量也是很高（目前已停止维护），国产的<strong
                                    style="color:rebeccapurple">蚁剑</strong>也很不错。
                            </p>
                            <p class="text-dark mb-1">
                                安全界广泛认为一定要<strong
                                    style="color:rebeccapurple">工具与手工并进</strong>,才能更好地检测包括XSS在内的安全漏洞。比如,在扫描XSS时,很多扫描器一般都无法检测非常规的XSS漏洞。为什么?例如,在提交留言时可能需要短信验证、验证码填写等,工具是无法做到的。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12">
        
                    <div class="list-group">
                        <a class="list-group-item list-group-item-action active">
                            常用工具官网(点击相应项即可跳转)
                        </a>
                        <a href="https://www.ibm.com/developerworks/cn/downloads/r/appscan/index.html"
                            class="list-group-item list-group-item-action" target="_blank">
                            <i class="mdi mdi-play"></i>
                            APPSCAN
                        </a>
                        <a href="http://www.acunetix.com/" class="list-group-item list-group-item-action" target="_blank">
                            <i class="mdi mdi-play"></i>
                            AWVS
                        </a>
                        <a href="http://portswigger.net/" class="list-group-item list-group-item-action" target="_blank">
                            <i class="mdi mdi-play"></i>
                            Burp Suite
                        </a>
                        <a href="https://github.com/AntSwordProject/ant" class="list-group-item list-group-item-action"
                            target="_blank">
                            <i class="mdi mdi-play"></i>
                            蚁剑
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>