<div class="content">
    <div class="breadcrumb-wrapper">
        <h1>本平台使用指南</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb p-0">
                <li class="breadcrumb-item">
                    <a href="/">
                        <span class="mdi mdi-home"></span>
                    </a>
                </li>
                <li class="breadcrumb-item">
                    平台概述
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    本平台使用指南
                </li>
            </ol>
        </nav>
    </div>
    
    <div class="row">
        <div class="col-md-12 col-xl-6">
            <div class="card card-default">
                <div class="card-header card-header-border-bottom">
                    <h2>功能介绍</h2>
                </div>
                <div class="card-body">
                    <h4>
                        <i class="mdi mdi-fullscreen"></i>
                        支持的屏幕尺寸
                    </h4>
                    <p class="text-danger">
                        本平台最低兼容1366像素宽度的浏览器进行访问，如果您的屏幕宽度小于1366像素，可以按住CTRL+鼠标滚轮进行屏幕缩放调整
                    </p>
                    <h4>
                        <i class="mdi mdi-google-chrome"></i>
                        推荐的浏览器
                    </h4>
                    <p>
                        建议使用最新版本的Chrome浏览器进行学习
                    </p>
                    <h4>
                        <i class="mdi mdi-account"></i>
                        账号管理(注册、登录、修改信息、注销)
                    </h4>
                    <p>
                        请点击界面右上角带有头像的模块，查看下拉菜单，即可进行操作
                    </p>
                </div>
            </div>
        </div>
        
        <div class="col-md-12 col-xl-6">
            <div class="card card-default">
                <div class="card-header card-header-border-bottom">
                    <h2>通过本平台进行学习</h2>
                </div>
                <div class="card-body">
                    <h4>
                        <i class="mdi mdi-menu"></i>
                        使用目录导航系统
                    </h4>
                    <p>
                        在界面左边是本站的所有内容的目录，您当前所在的章节会被标记为<b style="color: gold;">金色</b>，已学会的内容标记为<b class="text-primary">蓝色</b>，未学习的内容为灰色
                    </p>

                    <h4>
                        <i class="mdi mdi-book-open-page-variant"></i>
                        使用<span class="text-danger">学习进度记录系统</span>
                    </h4>
                    <p>
                        当您将一个章节学习完毕后，点击页面右下角的“<span class="text-primary">我学会了</span>”按钮，系统将记录您的学习进度，并<span class="text-primary">自动将您引导至下一章</span>，当您觉得这章的内容已经忘了，并且希望下次重新学习时，可点击右下角的“<span class="text-danger">我要重学</span>”按钮(标记为已学会后出现)，即可重置本章节的学习进度
                    </p>
                    <h4>
                        <i class="mdi mdi-sword-cross"></i>
                        使用<span class="text-danger">虚拟实验环境</span>
                    </h4>
                    <p>
                        在大部分章节右侧使用虚拟实验环境,你可以感受到文本中阐述的种种效果，让您的学习印象更加深刻
                    </p>
                    <h4>
                        <i class="mdi mdi-play-box-outline"></i>
                        使用<span class="text-danger">教学辅助视频</span>
                    </h4>
                    <p>
                        在基础的理论学习部分，点击右上角的<span class="text-success">绿色按钮</span>，即可播放相关的教学视频，在部分涉及实践的章节，也有相应的录屏教程
                    </p>
                </div>
            </div>
        </div>
        
    </div>
</div>